[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
python-dateutil = "*"
rdflib = "~=5.0"
rdflib-jsonld = "*"
jsonasobj = ">=1.2.1"
dirlistproc = ">=1.4.5"
isodate = "*"
